{
    "presets": [
        "react",
        "es2015",
        "stage-0"
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "transform-async-to-generator"
                ],
                [
                    "transform-object-rest-spread"
                ],
                [
                    "transform-react-display-name"
                ],
                [
                    "react-transform",
                    {
                        "transforms": [
                            {
                                "transform": "react-transform-hmr",
                                "imports": [
                                    "react"
                                ],
                                "locals": [
                                    "module"
                                ]
                            },
                            {
                                "transform": "react-transform-catch-errors",
                                "imports": [
                                    "react",
                                    "redbox-react"
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "transform-async-to-generator"
                ],
                [
                    "transform-object-rest-spread"
                ],
                [
                    "transform-react-display-name"
                ]
            ]
        }
    }
}