h2 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.summaryContainer {
    width: 50%;
    text-align: center;
}

.cardsContainer {
    max-height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    padding: 12px 0;
    height: 125px;
    margin: 15px;
    width: 360px;
}

.title {
    font-size: 20px;
}

.value {
    font-size: 17px;
    padding: 5px 0;
}

.description {
    font-size: 14px;
}