h2 {
    margin: 0;
}

.donateContainer {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    height: 35px;
}


.summaryContainer {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.cardsContainer {
    max-height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid var(--boxGrey);
    padding: 12px 5px;
    height: 145px;
    margin: 30px 5px;
    width: 360px;
    z-index: -1;
    border-radius: var(--myBoxRadius);
    box-shadow: var(--myBoxShadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card a {
    text-decoration: none;
}

.card a div {
    color: #08f;
    border: 1px solid #08f;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
}

.card button {
    width: 90%;
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.value {
    font-size: 30px;
    padding: 5px 0;
    color:#18bdc3;
    text-decoration: none;
}

.description{
    font-size: 12px;
}

