.container {
    width: 100%;
    border-bottom: 1px solid var(--myBlack);
    height: 65px;
    position: fixed;
    top: 0;
    background-color: white;
}

.flexContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.flexContainer div {
    display: inline-block;
    color: var(--myBlue);
}

.flexContainer h1 {
    color: var(--myBlue);
    font-size: 36px;
}

.divider {
    width: 1px solid var(--myBlack);
    height: 100%;
}

.submenuContainer {
    margin: auto 0 10px 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.submenuItem {
    border-right: 1.5px solid var(--myBlack);
    padding: 0 4px;
}

.submenuItemLast {
    border-right: none;
    padding: 0 4px;
}