.container {
    width: 100%;
    border-bottom: 1px solid var(--myBlack);
    height: 65px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.flexContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.flexContainer a {
    margin-top: auto;
}

.flexContainer div {
    color: var(--myBlue);
}

.flexContainer h1 {
    color: #ffab00;
    font-size: 36px;
    font-weight: lighter;
}

.divider {
    width: 1px solid var(--myBlack);
    height: 100%;
}

.submenuContainer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.submenuItem {
    border-right: 1.5px solid var(--myBlack);
    padding: 0 16px;
    transition: .25s all ease-out;
}

.submenuItem:hover {
    color: #005dff;
}

.submenuItemLast {
    border-right: none;
    padding-left: 16px;
    transition: .25s all ease-out;
}

.submenuItemLast:hover {
    color: #005dff;
}

.github{
    background-image:  url('/github_icon.svg');
    display: inline-block;
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ether{
    background-image:  url('/ether_icon.png');
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

