h1, h2, h3, textarea, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #08f;
}

:root {
    --myBlue: #5b6eb1;
    --myBlack: #656969;
    --myBlackLight: #4b4b4b;
    --boxGrey: #666;
    --myBoxShadow: 3px 3px #f0f0f0;
    --myBoxRadius: 20px;
    --myInputTextareaRadius: 5px;
    --myInputTextareaBorder: .5px solid #CCCCCC;
    --myInputTextareaColor: #626262;
    --buttonBlue: #6093D5;
    --buttonRadius: 10px;
}

* { font-family: 'Source Sans Pro'}


#header + div { padding-top: 70px }

textarea, input {
    border: var(--myInputTextareaBorder);
    border-radius: var(--myInputTextareaRadius);
    resize: none;
    color: var(--myInputTextareaColor);
    font-size: 15px;
    padding: 3px;
}

input { height: 2em; }

button {
    border: 1px solid;
    border-radius: var(--buttonRadius);
    background-color: var(--buttonBlue);
    letter-spacing: 1.5px;
    color: white;
    box-shadow: var(--myBoxShadow);
    padding: .5em 0;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #2738f3;
    width: 15px;
    height: 15px;
    animation: spin .5s linear infinite;
    margin: 0 auto;
}

.loaderSm {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #2738f3;
    width: 10px;
    height: 10px;
}

.loaderRow {
    border-top: 5px solid #8c8c8f;
}

.loaderAppFin {
    border-top: 5px solid #3af327;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.msgBox {
    text-align: center;
    padding: 1em 0;
    border-radius: var(--buttonRadius);
}

.error {
    background-color: #feaaaa;
    border: 1px solid #cb8686;
    color: #c51d3b;
}

.success {
    background-color: #a1ffa1;
    border: 1px solid #65e165;
    color: #599c4c;
}

.sm {
    width: 90%;
    display: inline-block;
    font-size: 12px;
}